body {
    font-family: "Aptos", sans-serif;
    background-color: #ccffcc;
}

h1 {
    text-align: center;
}

.navigation {
    overflow: hidden;
    background-color: #333;
    border-radius: 20px;
}

.navigation a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

.navigation a.current_page {
    background-color: red;
}

/* Make navigation responsive to smaller screen size */
@media screen and (max-width: 1000px) {
  .navigation a {
    display: block;
    float: none;
    width: auto;
    padding: 12px;
  }
}

.content {
    padding-left: 50px;
    padding-right: 50px;
}

img {
    display: block;
    margin: auto;
    max-width: 75%;
    height: auto;
    border-radius: 20px;
}

/* Make images responsive to smaller screen size */
@media screen and (max-width: 800px) {
  img {
    max-width: 100%;
  }
}

.tables {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 15px;
    border-radius: 20px;
    background-color: white;
}

/* Make table responsive to smaller screen size */
@media screen and (max-width: 800px) {
  .tables {
    display: block;
    margin: auto;
  }
}

table {
    border: 1.5px solid;
    border-radius: 20px;
    border-spacing: 0px;
    text-align: center;
    margin: 15px;
    width: 15%;
    overflow: hidden;
}

/* Make tables responsive to smaller screen size */
@media screen and (max-width: 800px) {
  table {
    width: 100%;
    margin: 1px;
  }
}

tr:nth-child(even) {
    background-color: white;
}

.table-headers {
    background-radius: 20px;
}

th {
    padding: 10px;
    border-bottom: 1.5px solid;
    color: white;
}

td {
    padding: 5px;
    border-bottom: 1.5px solid;
}

table tr:last-child td:first-child {
    border: none;
    padding-bottom: 10px;
}

.one-table, .seven-table {
    border-color: #00bfff;
}

.one-rows, .seven-rows {
    background-color: #ccf2ff;
}

.two-table, .eight-table {
    border-color: #32cd32;
}

.two-rows, .eight-rows {
    background-color: #d6f5d6;
}

.three-table, .nine-table {
    border-color: #ff1493;
}

.three-rows, .nine-rows {
    background-color: #ffcce7;
}

.four-table, .ten-table {
    border-color: #ff6600;
}

.four-rows, .ten-rows {
    background-color: #ffe0cc;
}

.five-table, .eleven-table {
    border-color: #a300cc;
}

.five-rows, .eleven-rows {
    background-color: #f5ccff;
}

.six-table, .twelve-table {
    border-color: #cd754c;
}

.six-rows, .twelve-rows {
    background-color: #f4e0d7;
}