body {
    padding-left: 50px;
    padding-right: 50px;
    font-family: "Aptos", sans-serif;
    background-color: #ccffcc;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

.tables {
    display: flex;
    justify-content: center;
    margin-left: 125px;
    margin-right: 125px;
    padding: 15px;
    background-color: white;
}

table {
    border: 1px solid;
    border-radius: 20px;
    border-spacing: 0px;
    text-align: center;
    margin: 15px;
    width: 15%;
}

tr:nth-child(even) {
    background-color: white;
}

th {
    padding: 10px;
    border-bottom: 1px solid;
}

td {
    padding: 5px;
    border-bottom: 1px solid;
}

table tr:last-child td:first-child {
    border: none;
    padding-bottom: 10px;
}
