<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Addition</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <div>
            <h1>Website Title</h1>
        </div>
    </header>
    <header>
        <div class="navigation">
            <a href="/">Home</a>
            <a href="/addition">Addition</a>
            <a href="/subtraction">Subtraction</a>
            <a href="/multiplication">Multiplication</a>
            <a href="/division">Division</a>
            <a href="/placevalues">Place Values</a>
            <a href="/decimals">Decimals</a>
            <a href="/fractionsandpercentages">Fractions</a>
        </div>
    </header>
    <h1>Addition Page</h1>
    <!--Figure out where to put this-->
    <!--Change color of word "sum" and "total"?-->
    <p>The answer to an addition problem is called a <strong>sum</strong> or <strong>total</strong>.</p>
</body>
</html>