<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Division</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <div>
            <h1>Website Title</h1>
        </div>
    </header>
    <header>
        <div class="navigation">
            <a href="home.html">Home</a>
            <a href="addition.html">Addition</a>
            <a href="subtraction.html">Subtraction</a>
            <a href="multiplication.html">Multiplication</a>
            <a href="division.html">Division</a>
            <a href="placevalues.html">Place Values</a>
            <a href="decimals.html">Decimals</a>
            <a href="fractionsandpercentages.html">Fractions</a>
        </div>
    </header>
  <h1>Division Page</h1>
    <!--Figure out where to put this-->
    <div>
        <!--Change color of bold words?-->
        <p>The number being divided is called the <strong>dividend</strong>.</p>
        <p>The number doing the dividing is called the <strong>divisor</strong>.</p>
        <p>The answer to a division problem is called a <strong>quotient</strong>.
        <p>The number left over is called the <strong>remainder</strong>.</p>
        <!--Insert picture of division problem with labels-->
        <p>The order of the numbers matter when dividing.</p>
        <p>8 ÷ 2 is NOT the same as 2 ÷ 8</p>
        <p>A division problem can also be written with a slash (/). Like this: 7 / 4</p>
        <p><b>Note: </b>We cannot divide by 0!</p>
    </div>
    <div>
        <h2>Long Division</h2>
    </div>
</body>
</html>