<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multiplication</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <div>
            <h1>Website Title</h1>
        </div>
    </header>
    <header>
        <div class="navigation">
            <a href="/">Home</a>
            <a href="/addition">Addition</a>
            <a href="/subtraction">Subtraction</a>
            <a href="/multiplication">Multiplication</a>
            <a href="/division">Division</a>
            <a href="/placevalues">Place Values</a>
            <a href="/decimals">Decimals</a>
            <a href="/fractionsandpercentages">Fractions</a>
        </div>
    </header>
    <h1>Multiplication Page</h1>
    <!--Figure out where to put this-->
    <!--Change color of word "product"?-->
    <p>The answer to a multiplication problem is called a <strong>product</strong>.</p>
    <header>
        <div>
            <h2>Times Tables</h2>
            <!--Insert picture of times tables-->
            <!--May actually write HTML for tables instead-->
        </div>
    </header>
    <div>
        <h3>Multiples Tips and Tricks</h3>
        <p><b>1: </b>Every number is a multiple of 1</p>
        <p><b>2: </b>Multiples of 2 are even numbers</p>
        <p>
            <b>3: </b>A number is a multiple of 3 if the digits in the number add up to a multiple of 3.
            This can be done until you're sure the sum is a multiple of 3. You can keep adding the digits
            until the sum is a single digit and see if the sum is a 3, 6, or 9, which are multiples of 3.
            Good for bigger numbers!
        </p>
        <p>
            <b>4: </b>A number is a multiple of 4 if the digit in the tens and ones place make a number
            that is a multiple of 4. In other words, if the number made of the last two digits is a multiple
            of 4. Or if the ends in 00.
        </p>
        <p><b>5: </b>The last digit, the digit in the ones place is a 5 or a 0. The number ends in a 5 or a 0.</p>
        <p><b>6: </b>A number is a multiple of 6 if the number is a multiple of 2 ADD and multiple of 3.</p>
        <p>
            <b>7: </b>A number is a multiple of 7 if you take the last digit of the number and times it by 2,
            then take that and subtract it from the number without the last digit. If the answer is a 0 or 7, then
            number is a multiple of 7. If still unsure, you can keep going by repeating the steps with the next digit.
        </p>
        <p>
            <b>8: </b>If the digits in the hundreds, tens, and ones place make up a number that is a multiple of
            8, then the number is a multiple of 8. In other words, a number is mulitple of 8 if the number made up
            by the last three digits is a multiple of 8. Or the number ends in 000.
        </p>
        <p>
            <b>9: </b>If the sum of the digits is a multiple of 9. Can keep going until the sum is a single digit
            and see if it is a 9.</p>
        <p><b>10: </b>The last digit, the digit in the ones place is a 0. The number ends in a 0.</p>
        <p>
            <b>11: </b>Add every other digit starting at the first number. Add every other digit starting at the second
            number. If the difference between the two numbers is 0 or 11, the number is a multiple of 11.
        </p>
        <p><b>12: </b>Multiples of 12 are multiples of 3 AND multiples of 4</p>
    </div>
</body>
</html>