<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subtraction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <div>
            <h1>Website Title</h1>
        </div>
    </header>
    <header>
        <div class="navigation">
            <a href="home.html">Home</a>
            <a href="addition.html">Addition</a>
            <a href="subtraction.html">Subtraction</a>
            <a href="multiplication.html">Multiplication</a>
            <a href="division.html">Division</a>
            <a href="placevalues.html">Place Values</a>
            <a href="decimals.html">Decimals</a>
            <a href="fractionsandpercentages.html">Fractions</a>
        </div>
    </header>
    <h1>Subtraction Page</h1>
    <!--Figure out where to put this-->
    <div>
        <!--Change color of bold words?-->
        <p>The number that is being subtracted from is called the <strong>minuend</strong>.</p>
        <p>The number that is doing the subtracting is called the <strong>subtrahend</strong>.</p>
        <p>The answer to a subtraction problem is called a <strong>difference</strong>.</p>
        <!--Insert picture of subtraction problem with labels-->
        <p>The order of the numbers matter when adding.</p>
        <p>5 - 1 is NOT the same as 1 - 5</p>
    </div>
    <div>
        <h2>Subtracting with Two or More Digits</h2>
    </div>
</body>
</html>